.hide-element {
    display: none !important;
}
.show-element {
    display: inline !important;
}

[data-theme="light"] .logo-dark {
    display: none;
}
[data-theme="dark"] .logo-light {
    display: none;
}

.custom-scroll {
  scrollbar-width: thin; 
  scrollbar-color: #8a8fa5 transparent;
}
